<main id="paginaInicial">
    <section class="banner">
        <article class="banner-img">
            <img src="Midias/Imgs/Banner-pageInicial.png" width="100%"/>
        </article>
        <article class="button-group">
            <button id="pecaAgora">
                <h2>Peça agora</h2>
            </button>
            <button id="exploreCardapio">
                <h2>Explore o cardápio</h2>
            </button>
        </article>
    </section>
    <section class="info-noticias">
        <article>
            <i class="fa-solid fa-phone"></i>
            <aside>
                <p>+55 (16) 3231-9027 </br> Ligue já</p>
            </aside>
        </article>
        <article>
            <i class="fa-solid fa-location-dot"></i>
            <aside>
                <p>R. Rui Barbosa, 170 - Centro Guariba - SP, 14840-000</p>
            </aside>
        </article>
        <article>
            <i class="fa-solid fa-clock"></i>
            <aside>
                <p>Aberto de Terça a Domingo </br> 18:30h - 23:00</p>
            </aside>
        </article>
        <img src="Midias/Imgs/Bandeira-Italia-Image.png">
    </section>
    <section class="sobre-cardapio">
        <article class="descricao-cardapio">
            <h2>Refeições</h2>
            <p>Preparadas com os melhores ingredientes e assadas com perfeição, cada escolha é uma obra-prima culinária que aquecerá seu coração e satisfará seu paladar. Explore nossa seleção de pratos irresistíveis e experimente uma explosão de sabores em cada mordida.</p>
        </article>
        <article class="imagens-cardapio">
            <img class="img-pageInicial" src="Midias/Imgs/imagem1-paginaInicial.png" />
            <img class="img-pageInicial" src="Midias/Imgs/imagem2-paginaInicial.png" />
        </article>
        <article>
            <button id="descubraCardapio">Descubra o cardápio</button>
        </article>
    </section>
    <section class="sobre-delivery">
        <article class="descricao-delivery">
            <h2>Delivery</h2>
            <p>Estamos empenhados em proporcionar uma experiência completa e satisfatória, além de servir as melhores pizzas e pratos italianos. Nossos serviços são projetados para tornar sua visita à Pizza Saborosa memorável em todos os aspectos.</p>
        </article>
        <article class="sessao-info-delivery">
            <section class="info-delivery">
                <article class="button-delivery">
                    <i class="fa-solid fa-person-biking"></i>
                </article>
                <article>
                    <h4>ENTREGA MAIS RÁPIDA</h4>
                    <p>Sabemos que a conveniência é essencial, e é por isso que nos orgulhamos de oferecer o serviço de entrega mais rápido da região.</p>
                </article>
            </section>
            <section class="info-delivery">
                <article class="button-delivery">
                    <i class="fa-solid fa-pizza-slice"></i>
                </article>
                <article>
                    <h4>RECEITAS ORIGINAIS</h4>
                    <p>Não apenas seguimos as receitas tradicionais italianas, como também ousamos criar nossas próprias receitas originais.</p>
                </article>
            </section>
        </article>
    </section>
</main>