<main id="naoEncontrado">
    <div class="center-body">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <p>Não foi possível acessar esta página. Você não tem acesso a página
            em que esta tentando acessar. Caso ache que isto é um erro, por favor, entre em contato com o suporte</p>
    </div>
</main>