
.container-finalizar {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #111;
}





.product-service-finalizar, .resume-finalizar, .delivery-finalizar, .details-finalizar, .payment-finalizar, .order-info-finalizar, .finalize {
    padding: 15px;
    border-radius: 5px;
}

.product-info-finalizar p, .resume-finalizar p {
    font-size: 14px;
}

.resume-finalizar {
    color: #fff;
    font-size: large;
}


.payment-finalizar {
    padding: 15px;
    border-radius: 5px;
    background-color: #222;
}

.payment-options-finalizar {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.select-payment-finalizar {
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 20px;
}

.select-payment-finalizar option {
    background-color: #222;
    color: white;
}

.finalize-btn{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.address-form-finalizar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.address-form-finalizar input {
    width: 100%;
}