.product-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
  }
  
  .product-main {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
  }
  
  .product-name {
    padding: 20px;
    font-size: 32px;

  }
  
  .product-info {
    display: flex;
    flex-direction: row;

    margin: 20px 0;
  }
  
  .product-image-container{
    align-items: center;
  }
  
  .product-image-container, .product-details {
    width: 50%;
  }
  
  .product-image-details {
    width: 40%;
    height:40%;
    border-radius: 10px;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .in-stock {
    color: green;
    margin-left: 5px;
  }
  
  .product-shipping {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .cep-info {
    color: grey;
    font-size: 16px;
    margin-left: 5px;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .discount-price {
    color: blue;
    font-size: 32px;
    margin-left: 10px;
  }
  
  .product-discount, .product-payment {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-description {
    padding: 20px;
    text-align: justify;
  }
  
  .product-description h2 {
    font-size: 28px;
    margin-top: 20px;
  }



  
.extra-menu-voltar {
  position: absolute; /* Posiciona em relação ao contêiner pai */
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da direita */
  display: flex;
  gap: 20px;
}



.extra-menu-voltar a {
  color: white;
  text-decoration: none;
}








.extra-menu-voltar a:hover {
  color: #0F4AA7;
  border-color: #0F4AA7;
}


  @media (max-width: 800px) {
    .product-info {
      flex-direction: column;
      align-items: center;
    }
  
    .product-image-container, .product-details {
      width: 100%;
    }
  
    .product-name {
      font-size: 24px;
    }
  
    .product-price .discount-price {
      font-size: 28px;
    }

  }
  