
.container-usuarios {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.user-info-usuarios {
    display: flex;
    margin-bottom: 20px;
    background-color: #232323;
    border-radius: 10px;
    border: solid white 1px;
    padding: 10px;
}

.user-avatar-usuarios {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-icon-usuarios {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 240px;
    height: 240px;
    padding: 40px;
}

.user-details-usuarios, .permissions-usuarios {
    color: white;
    text-align: left;
}



.actions-usuarios {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 30px;
    justify-content: space-around;
}


/* Estilos para telas menores que 420px */
@media screen and (max-width: 420px) {
    .container-usuarios {
      padding: 10px;
      text-align: center;
      align-items: center;
      justify-content: flex-start;
    }
  
    h1 {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
  
    .user-info-usuarios {
        display: flex;
      flex-direction: column;
      margin-bottom: 15px;

    }
  
    .user-avatar-usuarios {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .avatar-icon-usuarios {
      font-size: 3rem;
      width: 120px;
      height: 120px;
      padding: 20px;
    }
  
    .user-details-usuarios,
    .permissions-usuarios {
      text-align: center;
      font-size: 0.9rem;
    }
  
    .actions-usuarios {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;
    }
  
    .usuarios-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: 760px) {
    .container-usuarios {
      padding: 10px;
      text-align: center;
      align-items: center;
      justify-content: flex-start;
    }
  
    h1 {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
  
    .user-info-usuarios {
        display: flex;
      flex-direction: column;
      margin-bottom: 15px;

    }
  
    .user-avatar-usuarios {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .avatar-icon-usuarios {
      font-size: 3rem;
      width: 120px;
      height: 120px;
      padding: 20px;
    }
  
    .user-details-usuarios,
    .permissions-usuarios {
      text-align: center;
      font-size: 0.9rem;
    }
  
    .actions-usuarios {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;
    }
  
    .usuarios-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding: 0;
    }
  }
  